.popup-container {
    position: relative;
}

.popup-content, .popup-profile-content {
    position: absolute !important;
    margin: 0px auto 60px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    padding: 0px !important;
    display: none;
}

.popup-content form, .popup-profile-content form {
    padding: 10px 30px 50px;
    border: 3px solid #3E468A;
}

.popup-background {
    background-color: grey;
    opacity: 0.5;
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 300vh;
    display: none;
    z-index: 5;
}

.popup-title {
    background-color: #3E468A;
    color: white;
    padding: 20px 20px 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.popup-subtitle {
    opacity: 80%;
    font-size: 0.7em;
    margin: 30px 0 10px;
}

.popup-content .text-muted {
    font-size: 0.6em;
}

.popup-label {
    font-size: 1.2em;;
    font-weight: bold;
}

.admin-table {
    margin: 100px auto 50px;
}

.admin-table-title {
    padding: 20px 0px;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.admin-table-title svg {
    margin: 10px 20px;
    cursor: pointer;
}

.admin-table-title svg:hover {
    opacity: 50%;
}

.admin-table-title .dropdown-menu {
    transform: translate3d(-67px, 50.4px, 0px) !important;
}

.admin-table-title div {
    display: flex;
}

.MuiDataGrid-root {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    border: none !important;
}

.MuiDataGrid-columnHeadersInner {
    background-color: #3E468A;
    color: white;
    width: 100%;
}

.MuiDataGrid-footerContainer {
    background-color: #3E468A;
    color: white;
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-root button, .MuiDataGrid-root .MuiDataGrid-columnHeadersInner svg, .MuiDataGrid-root .MuiTablePagination-root svg {
    color: white;
}

.MuiDataGrid-root p {
    color: white;
    padding-top: 15px;
}

#errorMessage {
    color:red;
    font-size: 0.8em;
}

.chatContainer {
    height: 750px;
    border: rgba(0,0,0, 0.2) solid 1px;
}

.chatContainer .chatForm {
    height: 50px;
    border-top: rgba(0,0,0, 0.2) solid 1px;
    padding: 7px;
}

.chatContainer .chatForm div {
    display: flex;
    width: 100%;
}

.chatContainer .chatForm input {
    margin-right: 7px;
}

.chatContainer .chatHeader {
    height: 50px;
    background-color: #3E468A;
}

.chatContainer .chatContent {
    height: 650px;
    padding: 20px;
    overflow:auto;
}

.chatContainer .chatContent div {
    clear: both;
}

.chatContainer .chatContent .fromChat {
    margin-bottom: 10px;
    float: left;
    z-index: 10;
    position: relative;
}

.chatContainer .chatContent .fromChat .chatMsg {
    background-color: #3d85c6;
    color: white;
    min-height: 30px;
    max-width: 250px;
    padding: 8px;
    border-radius: 5px;
}

.chatContainer .chatContent .toChat {
    margin-bottom: 20px;
    float: right;
    z-index: 10;
    position: relative;
}

.chatContainer .chatContent .toChat .chatMsg {
    background-color: #93c47d;
    color: white;
    min-height: 30px;
    max-width: 250px;
    padding: 8px;
    border-radius: 5px;
}

.chatContainer .chatContent .chatName {
    font-size: 0.8em;
}

.chatProfile {
    padding: 15px;
}

.chatProfile .profileTitle {
    font-weight: 200;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.chatProfile .profilePic div {
    height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 45px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.chatProfile .profileData div:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.chatProfile .profileData {
    margin-top: 10px;
}

.li-disabled {
    pointer-events:none;
    opacity:0.7;
}

.MuiButton-root {
    border: 2px solid #3E468A !important;
}

iframe {
    float: right;
    height: 400px;
    margin-right: 50px;
    margin-top: 30px;
}

#lex-web-ui-iframe {
    height: 500px;
}

#lex-web-ui-iframe {
    position: absolute;
    right: 10px;
    top: 500px;
    z-index: 10;
}

.IsNotRead {
    filter: invert(87%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(89%) contrast(85%);
}

.IsRead {
    filter: invert(64%) sepia(80%) saturate(1722%) hue-rotate(36deg) brightness(103%) contrast(101%);
}

.chatInfo {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
}

/* Toggle Button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-top: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* context menu  */
  ul {
    list-style: none;
  }
  .context-menu { 
    position: absolute;
    z-index: 20;
  } 
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border-color:#3E468A;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
  }
  .menu > li > a:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu > li > a > i {
    padding-right: 10px;
  }
  .menu > li.trash > a:hover {
    color: red;
  }
