.popup-container {
    position: relative;
}

.popup-content, .popup-profile-content {
    position: absolute !important;
    margin: 0px auto 60px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    padding: 0px !important;
    display: none;
}

.popup-content form, .popup-profile-content form {
    padding: 10px 30px 50px;
    border: 3px solid #3E468A;
}

.popup-background {
    background-color: grey;
    opacity: 0.5;
    top:0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 300vh;
    display: none;
}

.popup-title {
    background-color: #3E468A;
    color: white;
    padding: 20px 20px 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.popup-subtitle {
    opacity: 80%;
    font-size: 0.7em;
    margin: 30px 0 10px;
}

.popup-content .text-muted {
    font-size: 0.6em;
}

.popup-label {
    font-size: 1.2em;;
    font-weight: bold;
}

.admin-table {
    margin: 100px auto 50px;
}

.admin-table-title {
    padding: 20px 0px;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.admin-table-title svg {
    margin: 10px 20px;
    cursor: pointer;
}

.admin-table-title svg:hover {
    opacity: 50%;
}

.admin-table-title .dropdown-menu {
    transform: translate3d(-67px, 50.4px, 0px) !important;
}

.admin-table-title div {
    display: flex;
}

.MuiDataGrid-root {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    border: none !important;
}

.MuiDataGrid-columnHeadersInner {
    background-color: #3E468A;
    color: white;
    width: 100%;
}

.MuiDataGrid-footerContainer {
    background-color: #3E468A;
    color: white;
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-root button, .MuiDataGrid-root .MuiDataGrid-columnHeadersInner svg, .MuiDataGrid-root .MuiTablePagination-root svg {
    color: white;
}

.MuiDataGrid-root p {
    color: white;
    padding-top: 15px;
}

#errorMessage {
    color:red;
    font-size: 0.8em;
}

.chatContainer {
    height: 750px;
    border: rgba(0,0,0, 0.2) solid 1px;
}

.chatContainer .chatForm {
    height: 50px;
    border-top: rgba(0,0,0, 0.2) solid 1px;
    padding: 7px;
}

.chatContainer .chatForm div {
    display: flex;
    width: 100%;
}

.chatContainer .chatForm input {
    margin-right: 7px;
}

.chatContainer .chatHeader {
    height: 50px;
    background-color: #3E468A;
}

.chatContainer .chatContent {
    height: 650px;
    padding: 20px;
    overflow:auto;
}

.chatContainer .chatContent div {
    clear: both;
}

.chatContainer .chatContent .fromChat {
    margin-bottom: 10px;
    float: left;
}

.chatContainer .chatContent .fromChat .chatMsg {
    background-color: blue;
    color: white;
    min-height: 30px;
    max-width: 250px;
    padding: 8px;
    border-radius: 5px;
}

.chatContainer .chatContent .toChat {
    margin-bottom: 20px;
    float: right;
}

.chatContainer .chatContent .toChat .chatMsg {
    background-color: green;
    color: white;
    min-height: 30px;
    max-width: 100px;
    padding: 8px;
    border-radius: 5px;
}

.chatContainer .chatContent .chatName {
    font-size: 0.8em;
}

.chatProfile {
    padding: 15px;
}

.chatProfile .profileTitle {
    font-weight: 200;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.chatProfile .profilePic div {
    height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 45px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.chatProfile .profileData div:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.chatProfile .profileData {
    margin-top: 10px;
}
