#skillTags {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-left: 0px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
  min-height: 50px;
  border: none;
  overflow: auto;
}

#inputTag {
  width: 100%;
  min-width: 50%;
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
  margin-bottom: 15px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 10px;
  padding-right: 5px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  white-space: nowrap;
  color: white;
  max-width: 300px;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}