@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Kulim+Park');

.navTitle {
    color: #3E468A !important;
    font-size: 3em;
    font-family: 'Kulim Park';
}

.navLink {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.25em;
    line-height: 55.758px;
}

.navImg {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.navIcon {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}