@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Kulim+Park');

body {
    font-family: 'Inter';
    color: #3E468A;
}

.saTitle {
    background-color: #3E468A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    padding: 5px;
    padding-top: 15px;
    padding-left: 15px;
}

.saTable {
    margin-left: 20px;
    margin-right: 20px;
}

.saLink {
    color: #3E468A;
    text-align: center;
    margin: auto;
    display: flex;
}

.clientTab {
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #3E468A;
    padding: 30px;
    text-align: center;
    display: block;
    margin: auto;
}

.clientTab h4 {
    margin-top: 10px;
    font-weight: bold;
}

.coachCardTitle {
    text-align: center;
    color: #3E468A;
    font-weight: bold;
}

.coachCardSubtitle {
    text-align: center;
    color: #BFBFBF;
}

.coachCardImg {
    margin: 10px auto 10px auto;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    display: block;
}

.pricingDiv {
    padding: 20px;
}

.pricingText {
    font-weight: bold;
    color: #3E468A;
    font-size: 20px;
}

.pricingTable {
    color: #3E468A;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
}

.pricingTag {
    color: #C1E72D;
    font-size: 45px;
    font-weight: bolder;
}

.pricingSession {
    margin: 10px;
    color: #3E468A !important;
    float: right !important;
}

.coachProfileDiv {
    padding: 10px;
    margin: 10px;
}

.coachProfileImg {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coachProfileTitle {
    font-weight: bold;
    text-align: center;
}

.coachProfileSubtitle {
    text-align: center;
    color: #A7A7A7;
}

.coachProfileText {
    text-align: center;
    padding: 10px;
}

.coachProfileTable {
    color: #3E468A;
    font-family: 'Inter';
}

.coachProfileTagTitle {
    padding: 10px;
    font-weight: bold;
}

.coachProfileTagPill {
    background-color: #3E468A;
    color: #FFFFFF;
    font-size: medium;
    margin: 5px;
}

.coachProfileButton {
    width: 100%;
}

.appointmentsHead {
    color: #3E468A !important;
    font-family: 'Inter' !important;
    font-weight: bold !important;
}

.appointmentsText {
    color: #3E468A !important;
    font-family: 'Inter' !important;
}

.appointmentButtons {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100%;
    margin: 5px;
}

.coachBookingImg {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    margin-left: 30px;
}

.coachBookingDiv {
    padding: 10px;
    display: inline-block
}

.coachBookingTitle {
    margin: 10px;
    margin-left: 30px;
    font-weight: bold;
}

.coachBookingSubtitle {
    margin: 10px;
    margin-left: 30px;
    color: #A7A7A7;
}

.calenderTimeButton {
    background-color: #3E468A;
    margin: 5px;
}

.calenderTimeButton :hover {
    background-color: #3E468A;
    opacity: 80%;
}